




@media screen and (min-width: 767px) {

    :root {
        --primary-color: #00eeff;
        --secondary-color: #001720;
        --accent1-color: #e3a10f;
	    --accent2-color: #144351;
	    --accent3-color: #ffffff;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    html, body {
        max-width: 100%;
        font-family: "Montserrat", sans-serif;
        overflow-x: hidden;
    }


    /*----------- NAVIGATION --------------*/


    header {
        display: flex;
        align-items: center;
        justify-content: space-around;
        color: white;
        border: 1px solid rgba(99, 216, 255, 0.452);
        box-shadow: 0 0 30px #0f0f0f;
        background-color: var(--secondary-color);
        max-width: 100%;
        padding: 0 25px 0 25px;
        overflow: hidden;
    }

    #menu {
		display: none; /* hide hamburger button */
	}


    .navigation {
        display: flex;
        align-items: center;
    }

    nav a {
        position: relative;
        width: 100%;
        font-size: .8rem;
        transition: transform 0.3s ease-in-out; /* Smooth transition */
    }

    nav a:hover {
        color: var(--primary-color);
        font-weight: 400;
        transform: scale(1.1); /* Zoom in effect */
        text-shadow: 0 0 10px rgba(57, 215, 255, 0.4);
    }


    .resume {
        position: relative;
        background-color: var(--primary-color);
        color: var(--secondary-color);
        border-radius: 8px;
        padding: 10px;
        
        margin: 0 0 0 0;
        font-weight: 600;
        font-size: .8rem;
    }

    .resume:hover {
        color: var(--primary-color);
        background-color: var(--secondary-color);
        border: solid 1px var(--primary-color);
        font-weight: 600;
        box-shadow: 0 0 10px rgba(57, 215, 255, 0.4);
        transform: translateY(-4px);
    }

    


    /*----------- MAIN --------------*/





    /*-------- HERO SECTION ----------*/


    .hero-image2 {
        display: none;
    }

    .hero-image1 {
        display: flex;
        max-width: 100%;
        margin: 35px 0 0 0;
        -webkit-mask-image: linear-gradient(
            rgb(0, 23, 32, 0.8),
            rgb(0, 23, 32, 0.8) 80%,
            rgb(0, 23, 32, 0)
            );
        mask-image: linear-gradient(
            rgb(0, 23, 32, 0.8),
            rgb(0, 23, 32, 0.8) 80%,
            rgb(0, 23, 32, 0)
            );
    }

    .spaceman-hero {
        width: 40%;
        top: 25%;
        left: 60%;
    }
    
    @keyframes slideFade {
        0% {
            opacity: 0.5;
            transform: translateY(20px); /* Starts 20px lower */
        }
        100% {
            opacity: 1;
            transform: translateY(0); /* Ends at the original position */
        }
    }
    
    @keyframes randomMove {
        0% {
            transform: translate(0, 0);
        }
        25% {
            transform: translate(-4px, 4px);
        }
        50% {
            transform: translate(4px, -4px);
        }
        75% {
            transform: translate(-4px, -4px);
        }
        100% {
            transform: translate(0, 0);
        }
    }

    .hero-container .flexbox-content {
        position: absolute;
        top: 0;
        left: 44%;
        transform: translate(-50%, 20%);
        text-align: left;
        z-index: 2;
    }

    .hero-container h1 {
        color: var(--accent3-color);
        text-align: left;
        font-weight: 900;
        font-size: 4.6rem;
        width: 100%;
        height: auto;
        margin: 150px 0 0 0;
        padding: 5px;
    }
    
    .hero-container p {
        color: var(--accent1-color);
        text-align: left;
        font-weight: 400;
        font-size: 1.4rem;
        width: 100%;
        margin: 0 200px 0 0;
        padding: 5px;
        line-height: 35px;
    }




    /*-------- INTRO SECTION ----------*/


    /* .scroller-container {
        display: flex;
        flex-wrap: wrap;
        width: 45%;
        margin: 20% 0 0 0;
    }

    .scroller {
        display: block;
    } */

    

    .scroller[data-animated="true"] {
        overflow: hidden;
        -webkit-mask-image: linear-gradient(
            90deg, transparent, black 20%, black 80%, transparent
        );


        mask-image: linear-gradient(
            90deg, transparent, black 20%, black 80%, transparent
        );
    }

    .scroller[data-animated="true"] .scroller-inner {
        width: max-content;
        flex-wrap: nowrap;
        animation: scroll 40s linear infinite;
    }


    @keyframes scroll {
        to {
            transform: translate(calc(-50% - .5rem));
        }
    }

    /* FADE-IN and FADE-OUT Scrool Animation */

    /* main > section {
        scale: .8; opacity: 0;
        animation: fade-in linear forwards;
        animation-timeline: view();
        animation-range: entry;
    }

    @keyframes fade-in {
        to {scale: 1; opacity: 1;}
    } */

    /* FADE-IN and FADE-OUT Scrool Animation */

    .scroller {
        margin: 140px 0 0 0;
        width: 100%;
    }


    .intro-container {
        display: flex;
        justify-content: flex-end;
        max-width: 100%;
        height: auto;
        border-radius: 18px;
        margin: 0 0 0 0;
    }

    .intro-content h2 {
        font-size: 2rem;
        font-weight: 900;
    }


    .intro-content p {
        padding-top: 20px;
        text-align: left;
    }

    .button-1 {
        position: relative;
        width: 100%;
        background-color: var(--primary-color);
        color: var(--secondary-color);
        border-radius: 8px;
        padding: 10px 30px 10px 30px;
        font-weight: 600;
        font-size: 1rem;
        text-decoration: none;
        margin: 0 0 0 0;
    }

    .button-1:hover {
        color: var(--primary-color);
        background-color: var(--secondary-color);
        border: solid 1px var(--primary-color);
        font-weight: 600;
        box-shadow: 0 0 10px rgba(57, 215, 255, 0.4);
        transform: translateY(-4px);
    }


    /*-------- CARDS SECTION ----------*/


    .logo-3d {
        display: flex;
        width: 20%;
        height: auto;
        margin: -15% 0 0 8%;
        animation: slideFade 1s ease-in-out 0.1s forwards, randomMove-1 12s ease-in-out 1.1s infinite; /* Added 'randomMove' animation */
        pointer-events: none;
        opacity: 0;
    }
    
    @keyframes slideFade {
        0% {
            opacity: 0.5;
            transform: translateY(20px); /* Starts 20px lower */
        }
        100% {
            opacity: 1;
            transform: translateY(0); /* Ends at the original position */
        }
    }
    
    @keyframes randomMove-1 {
        0% {
            transform: translate(0, 0);
        }
        25% {
            transform: translate(-4px, 4px);
        }
        50% {
            transform: translate(0, -65px);
        }
        75% {
            transform: translate(-4px, 4px);
        }
        100% {
            transform: translate(0, 0);
        }
    }



    .card-grid {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 100%;
        margin: 0 20% 0 5%;
        gap: 20px;
    }

    .title {
        position: relative;
        color: var(--accent3-color);
        text-align: center;
        font-size: 3rem;
        font-weight: 900;
        max-width: 100%;
        margin: 0 25% 0 25%;
        }
    

    .card-content {
        max-width: 550px;
        border-radius: 20px;
        padding: 50px;
        color: var(--accent3-color);
        background: linear-gradient(to right, rgba(57, 215, 255, 0.15), rgb(0, 23, 32));
        border: solid 1px rgba(57, 215, 255, 0.4);
        margin-top: 20px;
        position: relative;
    }

    .text {
        text-align: center;
        padding: 25px;
    }


    .card-grid h2 {
        text-align: center;
        width: 100%;
        margin: 5% 0 10% 0;
        font-size: 2.2rem;
        font-weight: 900;
    }

    .card-grid p {
        width: 100%;
        margin: 0 0 5% 0;
        line-height: 1.5rem;
        color: rgba(57, 215, 255, 1);
        font-size: 1rem;
    }

    .line-container {
        text-align: center;
        margin: 0 0 20% 0;
    }

    .line-container::before {
        content: "";
        display: inline-block;
        width: 50%; /* Adjust the width to make it shorter or longer */
        border-top: 1px solid rgba(57, 215, 255, 1); /* Adjust the thickness and color */
        margin: 0 0 0 0;
    }

    .card-grid .button-1 {
        width: 100%;
        margin: 0 0 0 0;
        font-size: 1rem;
    }


    .image img {
        position: relative;
        margin: -70% 0 5% 100%;
        width: 100%;
        height: auto;
        border-radius: 20px;
        border: solid 1px rgba(57, 215, 255, 0.4);
        box-shadow: 0 20px 40px rgba(57, 215, 255, 0.2);
        transition: transform 0.2s ease-in-out; /* Smooth transition */
    }

    .image img:hover {
        box-shadow: 0 20px 40px rgba(57, 215, 255, 0.3);
        transform: translateX(8px);
    }


    .video {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        padding-bottom: 66.67%; /* 3:2 aspect ratio */
        height: 0;
        width: 100%;
        border-radius: 20px;
        border: solid 1px rgba(57, 215, 255, 0.4);
        margin: -300px 0 10px 450px;
        box-shadow: 0 20px 40px rgba(57, 215, 255, 0.2);
        transition: transform 0.2s ease-in-out; /* Smooth transition */
    }

    .video video {
        max-width: 100%;
        padding-right: 0;
        margin: 300px 0 0 0;
    }

    .video:hover {
        box-shadow: 0 20px 40px rgb(57, 215, 255, 0.3);
        transform: translateX(8px);
    }


    /* --------------- TIMELINE SECTION ----------------- */

    .timeline-container .title {
        margin: 15% 0 0 0;
    }

    .timeline-container .subtitle {
        text-align: center;
        padding-top: 15px;
        font-size: 1.4rem;
        margin: 0 0 0 0;
    }


    .timeline-container img {
        width: 100%;
        margin: 0 0 0 0;
    }

    .timeline-grid {
        display: flex;
        width: 100%;
        height: auto;
        margin: -50% 0 25% 5%;
    }
    
    .tabs {
        width: 25%;
        background-color: rgb(57, 215, 255, 0);
        display: flex;
        flex-direction: column;
        padding: 10px;
        gap: 15px;
        margin: 0 0 0 10%;
    }
    
    .tab-btn {
        background-color: rgb(57, 215, 255, 0);
        border: 1px solid rgb(57, 215, 255, 0.2);
        padding: 20px;
        text-align: left;
        cursor: pointer;
        transition: background-color 0.3s;
        color: #00eeff;
        border-radius: 12px;
        font-size: 1.4rem;
    }
    
    .tab-btn:hover {
        background-color: rgb(57, 215, 255, 0.2);
    }
    
    .tab-btn.active {
        background-color: rgb(57, 215, 255, 0.1);
        border: 1px solid rgb(57, 215, 255, 0.6);
    }
    
    .tab-content {
        flex: 1;
        padding: 80px;
        border-left: 1px solid rgb(57, 215, 255, 1);
        margin: 0 15% 0 5%;
        background-color: rgb(227, 161, 15, 0.05);
        border-radius: 0 25px 25px 0;
    }
    
    .tab-pane {
        display: none;
        width: 100%;
        margin: 0 0 0 0;
    }
    
    .tab-pane.active {
        display: block;
    }

    .tab-pane h2 {
        font-size: 2rem;
        margin: 0 0 25px 0;
    }

    .tab-pane p {
        font-size: 1rem;
        line-height: 1.5rem;
    }

    .tab-pane li {
        font-size: 1rem;
        line-height: 1.5rem;
        padding-bottom: 10px;
    }


    /*----------- FORM STYLING --------------*/

    form {
        width: 52%;
        margin: 5% 0 0 25%;
        z-index: 10;
    }

    form h2 {
        font-size: 3rem;
        font-weight: 900;
        text-align: center;
        margin: 0 0 80px 0;
    }

    

    .wf1 input[type="date"],
    .wf1 select,
    .wf1 input[type="text"],
    .wf1 textarea,
    .wf1 input[type="tel"],
    .wf1 input[type="email"],
    .wf1 input[type="number"]
{
    margin-left: 5px;
}

.wf1 label {
    margin-left: 35px;
}

.wf1 input[type="date"],
.wf1 select
{
    background-color: #eee;
    display: block;
    border: solid 1px #e3a10f;
    border-radius: 6px;
    padding: .75rem;
    color: #001720;
    font-weight: 600;
    width: 100%;
    max-width: 200px;
    appearance: none;
    margin-top: 5px;
    margin-bottom: 10px;
}


.wf1 input[type="text"],
.wf1 input[type="email"]
{
    background-color: #eee;
    display: block;
    border: solid 1px #e3a10f;
    border-radius: 6px;
    padding: .75rem;
    color: #001720;
    font-weight: 600;
    width: 100%;
    max-width: 400px;
    appearance: none;
    margin-top: 5px;
    margin-bottom: 10px;
}


.wf1 textarea
{
    background-color: #eee;
    display: block;
    border: solid 1px #999;
    border-radius: 6px;
    padding: 1.75rem;
    color: #001720;
    font-weight: 600;
    width: 100%;
    max-width: 400px;
    appearance: none;
    margin-top: 5px;
    margin-bottom: 10px;
}


.wf1 input[type="submit"]
{
    border: none;
    border-radius: 12px;
    padding: 1rem;
    width: 450px;
    margin: 5% 0 2rem 6%;
    
}


    /* ------- FOOTER -------- */

    footer {
        margin-top: 80px;
    }

}