* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
}




@media screen and (min-width: 767px) {

    :root {
        --primary-color: #00eeff;
        --secondary-color: #001720;
        --accent1-color: #e3a10f;
	    --accent2-color: #144351;
	    --accent3-color: #ffffff;
    }


    /*----------- NAVIGATION --------------*/


    header {
        display: flex;
        align-items: center;
        justify-content: space-around;
        color: white;
        border: 1px solid rgba(99, 216, 255, 0.452);
        box-shadow: 0 0 30px #0f0f0f;
        background-color: var(--secondary-color);
        width: 100%;
        padding: 0;
    }

    #menu {
		display: none; /* hide hamburger button */
	}


    .navigation {
        display: flex;
        align-items: center;
    }

    nav a {
        position: relative;
        width: 100%;
        font-size: 14px;
        margin: 0 25% 0 65%;
        transition: transform 0.3s ease-in-out; /* Smooth transition */
    }

    nav a:hover {
        color: var(--primary-color);
        font-weight: 400;
        transform: scale(1.1); /* Zoom in effect */
        text-shadow: 0 0 10px rgba(57, 215, 255, 0.4);
    }


    .resume {
        position: relative;
        background-color: var(--primary-color);
        color: var(--secondary-color);
        border-radius: 8px;
        padding: 10px;
        right: -50px;
        font-weight: 600;
        font-size: 12px;
    }

    .resume:hover {
        color: var(--primary-color);
        background-color: var(--secondary-color);
        border: solid 1px var(--primary-color);
        font-weight: 600;
        box-shadow: 0 0 10px rgba(57, 215, 255, 0.4);
        transform: translateY(-4px);
    }

    .image-logo {
        position: relative;
        margin-left: -150px;
    }


    /*----------- MAIN --------------*/





    /*-------- HERO SECTION ----------*/


    .hero-image1 {
        display: none;
    }

    .hero-image2 {
        display: block;
        width: 100%;
    }

    .hero-container h2 {
        color: var(--accent3-color);
        text-align: left;
        font-weight: 900;
        font-size: 64px;
        width: 100%;
        margin: -550px 10% 0 10%;
        padding: 15px;
    }
    
    .hero-container p {
        color: var(--accent1-color);
        text-align: left;
        font-weight: 400;
        font-size: 20px;
        width: 100%;
        margin: -20px 0 400px 10%;
        padding: 15px;
        padding-right: 700px;
        line-height: 35px;
    }




    /*-------- INTRO SECTION ----------*/

    .scroller {
        display: contents;
    }

    .scroller-inner {
        display: flex;
        flex-wrap: wrap;
        padding-block: 1rem;
        gap: 1rem;
    }

    .scroller[data-animated="true"] {
        overflow: hidden;
        -webkit-mask-image: linear-gradient(90deg, black, transparent);
        mask-image: linear-gradient(black, transparent);
    }

    .scroller[data-animated="true"] .scroller-inner {
        flex-wrap: nowrap;
    }


    



}