* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
}




@media screen and (min-width: 767px) {

    :root {
        --primary-color: #00eeff;
        --secondary-color: #001720;
        --accent1-color: #e3a10f;
	    --accent2-color: #144351;
	    --accent3-color: #ffffff;
    }


    header {
        display: flex;
        align-items: center;
        justify-content: space-around;
        color: white;
        border: 1px solid rgba(99, 216, 255, 0.452);
        box-shadow: 0 0 30px #333;
        background-color: var(--secondary-color);
        width: 100%;
    }

    #menu {
		display: none; /* hide hamburger button */
	}


    .navigation {
        display: flex;
        align-items: center;
        margin: 0 25% 0 25%;
    }

    nav a {
        position: relative;
        width: 100%;
        margin: 0 25% 0 25%;
        transition: transform 0.3s ease-in-out; /* Smooth transition */
    }

    nav a:hover {
        color: var(--primary-color);
        font-weight: 400;
        transform: scale(1.1); /* Zoom in effect */
        text-shadow: 0 0 10px rgba(57, 215, 255, 0.4);
    }


    .resume {
        position: relative;
        background-color: var(--primary-color);
        color: var(--secondary-color);
        border-radius: 8px;
        padding: 10px;
        right: -10px;
        font-weight: 600;
        font-size: 14px;
    }

    .resume:hover {
        color: var(--primary-color);
        background-color: var(--secondary-color);
        border: solid 1px var(--primary-color);
        font-weight: 600;
        box-shadow: 0 0 10px rgba(57, 215, 255, 0.4);
        transform: translateY(-4px);
    }

    .image-logo {
        position: relative;
        margin-left: -150px;
    }



}