




@media screen and (min-width: 767px) {

    :root {
        --primary-color: #00eeff;
        --secondary-color: #001720;
        --accent1-color: #e3a10f;
	    --accent2-color: #144351;
	    --accent3-color: #ffffff;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    html, body {
        max-width: 100%;
        font-family: "Montserrat", sans-serif;
        overflow-x: hidden;
    }


    /*----------- NAVIGATION --------------*/


    header {
        display: flex;
        align-items: center;
        justify-content: space-around;
        color: white;
        border: 1px solid rgba(99, 216, 255, 0.2);
        box-shadow: 0 0 30px #0f0f0f;
        max-width: 100%;
        padding: 0 25px 0 25px;
        overflow: hidden;
    }

    #menu {
		display: none; /* hide hamburger button */
	}


    .navigation {
        display: flex;
        align-items: center;
    }

    nav a {
        position: relative;
        width: 100%;
        font-size: .8rem;
        transition: transform 0.3s ease-in-out; /* Smooth transition */
        border: none;
    }

    nav a:hover {
        color: var(--primary-color);
        font-weight: 400;
        transform: scale(1.1); /* Zoom in effect */
        text-shadow: 0 0 10px rgba(57, 215, 255, 0.4);
    }


    .resume {
        position: relative;
        background-color: var(--primary-color);
        color: var(--secondary-color);
        border-radius: 8px;
        padding: 10px;
        transition: background-color 0.3s;
        transition: transform 0.3s;
        margin: 0 0 0 0;
        font-weight: 600;
        font-size: .7rem;
    }

    .resume:hover {
        color: var(--primary-color);
        background-color: var(--secondary-color);
        border: solid 1px var(--primary-color);
        font-weight: 600;
        box-shadow: 0 0 10px rgba(57, 215, 255, 0.4);
        transform: translateY(-4px);
    }

    


    /*----------- MAIN --------------*/


    /*-------- HERO SECTION ----------*/


    .hero-image1 {
        display: none;
        width: 100%;
        margin: 35px 0 0 0;
        -webkit-mask-image: linear-gradient(
            rgb(0, 23, 32, 0.8),
            rgb(0, 23, 32, 0.8) 80%,
            rgb(0, 23, 32, 0)
            );
        -webkit-mask-image: linear-gradient(
            rgb(0, 23, 32, 0.8),
            rgb(0, 23, 32, 0.8) 80%,
            rgb(0, 23, 32, 0)
            );
    }
    
    .spaceman-hero {
        width: 25%;
        left: 75%;
        margin: -20px 0 0 0;
    }
    
    .hero-container {
        position: relative;
        width: 100%;
        padding: 200px 0 200px 0;
        margin: 0 0 0 0;
        background: radial-gradient(circle at top left, rgb(255, 245, 180, 0.9), rgba(74, 219, 255, 0.3), rgba(74, 219, 255, 0.08), rgb(0, 23, 32), rgb(0, 23, 32), rgb(0, 23, 32), rgb(0, 23, 32), rgb(0, 23, 32), rgb(0, 23, 32));
        border-radius: 9999px;
    }

    .flexbox-content {
        margin: -250px 0 0 0;      
    }

    .hero-container h1 {
        color: var(--accent3-color);
        text-align: center;
        font-weight: 900;
        font-size: 4.4rem;
        width: 100%;
        height: auto;
        margin: 0 0 0 0;
        padding: 5px;
    }
    
    .hero-container p {
        color: var(--accent1-color);
        text-align: center;
        font-weight: 400;
        font-size: 1.25rem;
        width: 100%;
        margin: 0 0 0 0;
        padding: 5px;
        line-height: 2rem;
    }




    /*-------- INTRO SECTION ----------*/

    

    .scroller[data-animated="true"] {
        overflow: hidden;
        -webkit-mask-image: linear-gradient(
            90deg, transparent, black 20%, black 80%, transparent
        );


        -webkit-mask-image: linear-gradient(
            90deg, transparent, black 20%, black 80%, transparent
        );
    }

    .scroller[data-animated="true"] .scroller-inner {
        width: max-content;
        flex-wrap: nowrap;
        animation: scroll 40s linear infinite;
    }


    @keyframes scroll {
        to {
            transform: translate(calc(-50% - .5rem));
        }
    }

    /* FADE-IN and FADE-OUT Scrool Animation */

    /* main > section {
        scale: .8; opacity: 0;
        animation: fade-in linear forwards;
        animation-timeline: view();
        animation-range: entry;
    }

    @keyframes fade-in {
        to {scale: 1; opacity: 1;}
    } */

    /* FADE-IN and FADE-OUT Scrool Animation */

    .scroller {
        margin: 140px 0 0 0;
        width: 100%;
        z-index: 5;
    }

    .scroller-inner img {
        width: 150px;
    }

    .intro-container {
        display: flex;
        justify-content: flex-end;
        max-width: 100%;
        height: auto;
        border-radius: 18px;
        margin: 0 0 60px 0;
    }

    .intro-content {
        z-index: 5;
    }

    .intro-content h2 {
        font-size: 2rem;
        font-weight: 900;
    }


    .intro-content p {
        padding-top: 20px;
        text-align: left;
    }

    .intro-content span {
        font-weight: 800;
    }

    .button-1 {
        position: relative;
        width: 100%;
        background-color: var(--primary-color);
        color: var(--secondary-color);
        border-radius: 8px;
        padding: 10px 30px 10px 30px;
        font-weight: 600;
        font-size: .8rem;
        text-decoration: none;
        margin: 0 0 0 0;
        transition: background-color 0.3s;
    }

    .button-1:hover {
        color: var(--primary-color);
        background-color: var(--secondary-color);
        border: solid 1px var(--primary-color);
        font-weight: 600;
        box-shadow: 0 0 10px rgba(57, 215, 255, 0.4);
        transform: translateY(-4px);
        transition: background-color 0.3s;
    }


    /* --------------- TIMELINE SECTION ----------------- */



    .timeline-container .title {
        margin: 0 0 0 0;
        font-size: 3rem;
        z-index: 2;
    }

    .timeline-container .subtitle {
        margin: 0 0 120px 0;
        font-size: 1.25rem;
        z-index: 4;
    }


    .timeline-container img {
        position: absolute;
        top: 250%;
        z-index: 0;
        width: 120%;
        height: auto;
    }
    
    .timeline-grid {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        margin: 45px 0 0 0;
        margin-bottom: 200px;
        position: relative;
        z-index: 1;
    }
    
    .tabs {
        width: 25%;
        background-color: rgb(57, 215, 255, 0);
        display: flex;
        flex-direction: column;
        padding: 10px;
        gap: 15px;
        margin: 0 0 0 20%;
    }
    
    .tab-btn {
        background-color: rgb(57, 215, 255, 0);
        border: 1px solid rgb(57, 215, 255, 0.2);
        padding: 20px;
        text-align: left;
        cursor: pointer;
        transition: background-color 0.3s;
        color: #00eeff;
        border-radius: 12px;
        font-size: 1rem;
    }
    
    .tab-btn:hover {
        background-color: rgb(57, 215, 255, 0.2);
    }
    
    .tab-btn.active {
        background-color: rgb(57, 215, 255, 0.1);
        border: 1px solid rgb(57, 215, 255, 0.6);
    }
    
    .tab-content {
        flex: 1;
        padding: 80px;
        border-left: 1px solid rgb(57, 215, 255, 1);
        margin: 0 5% 0 5%;
        background-color: rgb(227, 161, 15, 0.05);
        border-radius: 0 25px 25px 0;
        backdrop-filter: blur(15px);
    }
    
    .tab-pane {
        display: none;
        width: 100%;
        margin: 0 0 0 0;
    }
    
    .tab-pane.active {
        display: block;
    }

    .tab-pane h2 {
        font-size: 2rem;
        margin: 0 0 25px 0;
    }

    .tab-pane p {
        font-size: 1rem;
        line-height: 1.5rem;
    }

    .tab-pane li {
        font-size: 1rem;
        line-height: 1.5rem;
        padding-bottom: 10px;
    }


    /*-------- CARDS SECTION ----------*/



    .logo-3d {
        display: block;
        position: absolute;
        width: 20%;
        height: auto;
        top: 2200px;
        margin: 0 0 0 0;
        animation: slideFade 1s ease-in-out 0.1s forwards, randomMove-1 12s ease-in-out 1.1s infinite; /* Added 'randomMove' animation */
        opacity: 0;
        z-index: 10;
    }
    
    @keyframes slideFade {
        0% {
            opacity: 0.5;
            transform: translateY(20px); /* Starts 20px lower */
        }
        100% {
            opacity: 1;
            transform: translateY(0); /* Ends at the original position */
        }
    }
    
    @keyframes randomMove-1 {
        0% {
            transform: translate(0, 0);
        }
        25% {
            transform: translate(-4px, 4px);
        }
        50% {
            transform: translate(0, -65px);
        }
        75% {
            transform: translate(-4px, 4px);
        }
        100% {
            transform: translate(0, 0);
        }
    }


    .title {
        position: relative;
        color: var(--accent3-color);
        text-align: center;
        font-size: 3rem;
        font-weight: 900;
        max-width: 100%;
        margin: 10px 200px 100px 200px;
        }


        .card-grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr); /* Three equal columns */
            grid-template-rows: auto; /* Adjusts row heights automatically */
            gap: 50px; /* Space between grid items */
            max-width: 90%;
            margin: 0 auto; /* Centers the grid within its parent container */
        }
        
        .card-content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 100%;
            border-radius: 20px;
            padding: 10px;
            color: var(--accent3-color);
            background: linear-gradient(to right, rgba(57, 215, 255, 0.15), rgb(0, 23, 32));
            border: solid 1px rgba(57, 215, 255, 0.4);
            box-sizing: border-box;
            backdrop-filter: blur(15px);
        }


    .text {
        text-align: center;
        padding: 25px;
    }


    .card-grid h2 {
        text-align: center;
        width: 100%;
        margin: 40px 0 5px 0;
        font-size: 2.2rem;
        font-weight: 900;
    }

    .card-grid p {
        width: 100%;
        margin: 0 0 5% 0;
        line-height: 1.5rem;
        color: rgb(255, 255, 255);
        font-size: 1rem;
    }

    .line-container {
        text-align: center;
        margin: 0 0 10% 0;
    }

    .line-container::before {
        content: "";
        display: inline-block;
        width: 50%; /* Adjust the width to make it shorter or longer */
        border-top: 1px solid rgba(57, 215, 255, 1); /* Adjust the thickness and color */
        margin: 0 0 0 0;
    }

    .card-grid .button-1 {
        width: 100%;
        margin: 0 0 0 0;
        font-size: .8rem;
        transition: background-color 0.3s;
    }

    .image img {
        margin: 5px 0 0 0;
    }

    .video video {
        position: relative;
        margin: 0 0 0 0;
        width: 100%;
        height: auto;
    }
    

    


    /*----------- FORM STYLING --------------*/

    form {
        width: 52%;
        margin: 8rem 0 0 25%;
        z-index: 10;
    }

    form h2 {
        font-size: 3rem;
        font-weight: 900;
        text-align: center;
        margin: 0 0 80px 0;
    }

    

    .wf1 input[type="date"],
    .wf1 select,
    .wf1 input[type="text"],
    .wf1 textarea,
    .wf1 input[type="tel"],
    .wf1 input[type="email"],
    .wf1 input[type="number"]
{
    margin-left: 5px;
}

.wf1 label {
    margin-left: 35px;
}

.wf1 input[type="date"],
.wf1 select
{
    background-color: #eee;
    display: block;
    border: solid 1px #e3a10f;
    border-radius: 6px;
    padding: .75rem;
    color: #001720;
    font-weight: 600;
    width: 100%;
    max-width: 200px;
    appearance: none;
    margin-top: 5px;
    margin-bottom: 10px;
}


.wf1 input[type="text"],
.wf1 input[type="email"]
{
    background-color: #eee;
    display: block;
    border: solid 1px #e3a10f;
    border-radius: 6px;
    padding: .75rem;
    color: #001720;
    font-weight: 600;
    width: 100%;
    max-width: 400px;
    appearance: none;
    margin-top: 5px;
    margin-bottom: 10px;
}


.wf1 textarea
{
    background-color: #eee;
    display: block;
    border: solid 1px #999;
    border-radius: 6px;
    padding: 1.75rem;
    color: #001720;
    font-weight: 600;
    width: 100%;
    max-width: 400px;
    appearance: none;
    margin-top: 5px;
    margin-bottom: 10px;
}


.wf1 input[type="submit"]
{
    border: none;
    border-radius: 12px;
    padding: .8rem;
    width: 450px;
    margin: 5% 0 2rem 6%;
    
}


    /* ------- FOOTER -------- */

    footer {
        margin-top: 80px;
    }

}