:root {
	--primary-color: #00eeff;
  --secondary-color: #001720;
  --accent1-color: #e3a10f;
	--accent2-color: #144351;
	--accent3-color: #ffffff;
}

/*----------- BODY --------------*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
    font-family: "Montserrat", Arial, sans-serif;
    background-color: var(--secondary-color);
}

header, main {
    margin: auto;
}

/*----------- HEADER --------------*/

header {
    background-color: var(--secondary-color);
    display: grid;
    grid-gap: 1rem;
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 10px #050505;
    color: var(--secondary-color);
}



.navigation {
    display: none;
}

/* Small view navigation and BUTTON hamburguer menu */

.image-logo {
    margin-top: 10px;
    width: 80px;
}


#menu {
	font-size: 1.5rem;
    font-family: "Montserrat";
    font-weight: 300;
	border: 0;
	background: none;
	color: white;
 	position: absolute;
    top: 2.8rem;
    right: 1rem;
}

#menu::before {
	content: "☰";
}

/* ▼ */

#menu.open::before {
	content: "☰";
    color: var(--accent1-color);
}

/* when the button is clicked - the open class is toggled (added/removed) */
.navigation.open {
	display: block;
}


nav {
    display: flex;
    flex-direction: column;
}

ul {
    list-style-type: none;
}

nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
}


/*----------- MAIN --------------*/

main {
    width: 100%;
}

/*----------- HERO SECTION --------------*/


.hero-image1, .hero-image2 {
    width: 100%;
    height: auto;
}

.hero-image2 {
    display: none;
}

.hero-content .hero-image1 {
    max-width: 100%;
}

/*----------- CARDS SECTION --------------*/



/*----------- FOOTER --------------*/


