




@media screen and (min-width: 767px) {

    :root {
        --primary-color: #00eeff;
        --secondary-color: #001720;
        --accent1-color: #e3a10f;
	    --accent2-color: #144351;
	    --accent3-color: #ffffff;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    html, body {
        max-width: 100%;
        font-family: "Montserrat", sans-serif;
        overflow-x: hidden;
    }


    /*----------- NAVIGATION --------------*/


    header {
        display: flex;
        align-items: center;
        justify-content: space-around;
        color: white;
        border: 1px solid rgba(99, 216, 255, 0.452);
        box-shadow: 0 0 30px #0f0f0f;
        background-color: var(--secondary-color);
        max-width: 100%;
        padding: 0;
        overflow: hidden;
    }

    #menu {
		display: none; /* hide hamburger button */
	}


    .navigation {
        display: flex;
        align-items: center;
    }

    nav a {
        position: relative;
        width: 100%;
        font-size: 14px;
        margin: 0 25% 0 65%;
        transition: transform 0.3s ease-in-out; /* Smooth transition */
    }

    nav a:hover {
        color: var(--primary-color);
        font-weight: 400;
        transform: scale(1.1); /* Zoom in effect */
        text-shadow: 0 0 10px rgba(57, 215, 255, 0.4);
    }


    .resume {
        position: relative;
        background-color: var(--primary-color);
        color: var(--secondary-color);
        border-radius: 8px;
        padding: 10px;
        right: -50px;
        font-weight: 600;
        font-size: 12px;
    }

    .resume:hover {
        color: var(--primary-color);
        background-color: var(--secondary-color);
        border: solid 1px var(--primary-color);
        font-weight: 600;
        box-shadow: 0 0 10px rgba(57, 215, 255, 0.4);
        transform: translateY(-4px);
    }

    .image-logo {
        position: relative;
        margin-left: -150px;
    }


    /*----------- MAIN --------------*/





    /*-------- HERO SECTION ----------*/


    .hero-image2 {
        display: none;
    }

    .hero-image1 {
        display: flex;
        max-width: 100%;
        height: auto;
        -webkit-mask-image: linear-gradient(
            rgb(0, 23, 32, 0.8),
            rgb(0, 23, 32, 0.8) 80%,
            rgb(0, 23, 32, 0)
            );
        mask-image: linear-gradient(
            rgb(0, 23, 32, 0.8),
            rgb(0, 23, 32, 0.8) 80%,
            rgb(0, 23, 32, 0)
            );
    }

    .spaceman-hero {
        display: flex;
        width: 40%;
        height: auto;
        margin: -45% 0 0 60%;
        animation: slideFade 1s ease-in-out 0.1s forwards, randomMove 6s ease-in-out 1.1s infinite; /* Added 'randomMove' animation */
        pointer-events: none;
        opacity: 0;
    }
    
    @keyframes slideFade {
        0% {
            opacity: 0.5;
            transform: translateY(20px); /* Starts 20px lower */
        }
        100% {
            opacity: 1;
            transform: translateY(0); /* Ends at the original position */
        }
    }
    
    @keyframes randomMove {
        0% {
            transform: translate(0, 0);
        }
        25% {
            transform: translate(-4px, 4px);
        }
        50% {
            transform: translate(4px, -4px);
        }
        75% {
            transform: translate(-4px, -4px);
        }
        100% {
            transform: translate(0, 0);
        }
    }

    .hero-container h2 {
        display: flex;
        color: var(--accent3-color);
        text-align: left;
        font-weight: 900;
        font-size: 64px;
        width: 100%;
        height: auto;
        margin: -40% 10% 0 10%;
        padding: 15px 15px 0 15px;
    }
    
    .hero-container p {
        color: var(--accent1-color);
        text-align: left;
        font-weight: 400;
        font-size: 20px;
        width: 100%;
        margin: -20px 0 0 10%;
        padding: 15px;
        padding-right: 700px;
        line-height: 35px;
    }




    /*-------- INTRO SECTION ----------*/


    .scroller-container {
        display: flex;
        flex-wrap: wrap;
        width: 45%;
        margin: 45% 0 0 0;
    }

    .scroller {
        display: block;
    }

    .scroller-inner {
        display: flex;
        flex-wrap: wrap;
        padding-block: .1rem;
        gap: 1rem;
    }

    .scroller[data-animated="true"] {
        overflow: hidden;
        -webkit-mask-image: linear-gradient(
            90deg, transparent, black 20%, black 80%, transparent
        );


        mask-image: linear-gradient(
            90deg, transparent, black 20%, black 80%, transparent
        );
    }

    .scroller[data-animated="true"] .scroller-inner {
        width: max-content;
        flex-wrap: nowrap;
        animation: scroll 40s linear infinite;
    }


    @keyframes scroll {
        to {
            transform: translate(calc(-50% - .5rem));
        }
    }

    /* FADE-IN and FADE-OUT Scrool Animation */

    /* main > section {
        scale: .8; opacity: 0;
        animation: fade-in linear forwards;
        animation-timeline: view();
        animation-range: entry;
    }

    @keyframes fade-in {
        to {scale: 1; opacity: 1;}
    } */

    /* FADE-IN and FADE-OUT Scrool Animation */

    .intro-container {
        display: flex;
        flex-wrap: wrap;
        width: 47%;
        height: auto;
        background: linear-gradient(to right, rgba(57, 215, 255, 0.15), rgb(0, 23, 32));
        border: solid 1px rgb(227, 161, 15, 0.5);
        border-radius: 18px;
        padding: 25px 25px 45px 25px;
        margin: -25% 0 0 45%;
    }

    .intro-container h2 {
        font-size: 44px;
        margin-bottom: -20px;
        font-weight: 900;
    }

    .intro-container .text {
        font-size: 14px;
        line-height: 25px;
        padding: 20px 0 25px 0;
    }

    .intro-container p {
        padding-top: 20px;
        text-align: left;
    }

    .button-1 {
        position: relative;
        background-color: var(--primary-color);
        color: var(--secondary-color);
        border-radius: 8px;
        padding: 10px 30px 10px 30px;
        font-weight: 600;
        font-size: 12px;
        text-decoration: none;
    }

    .button-1:hover {
        color: var(--primary-color);
        background-color: var(--secondary-color);
        border: solid 1px var(--primary-color);
        font-weight: 600;
        box-shadow: 0 0 10px rgba(57, 215, 255, 0.4);
        transform: translateY(-4px);
    }


    /*-------- CARDS SECTION ----------*/


    .logo-3d {
        display: flex;
        width: 20%;
        height: auto;
        margin: -15% 0 0 8%;
        animation: slideFade 1s ease-in-out 0.1s forwards, randomMove-1 12s ease-in-out 1.1s infinite; /* Added 'randomMove' animation */
        pointer-events: none;
        opacity: 0;
    }
    
    @keyframes slideFade {
        0% {
            opacity: 0.5;
            transform: translateY(20px); /* Starts 20px lower */
        }
        100% {
            opacity: 1;
            transform: translateY(0); /* Ends at the original position */
        }
    }
    
    @keyframes randomMove-1 {
        0% {
            transform: translate(0, 0);
        }
        25% {
            transform: translate(-4px, 4px);
        }
        50% {
            transform: translate(0, -65px);
        }
        75% {
            transform: translate(-4px, -4px);
        }
        100% {
            transform: translate(0, 0);
        }
    }



    .card-grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 100%;
        margin: 0 5% 0 5%;
        padding: 40px;
        gap: 20px;
    }

    .title {
        position: relative;
        color: var(--accent3-color);
        text-align: center;
        font-size: 44px;
        font-weight: 900;
        margin-bottom: 10px;
        max-width: 100%;
        margin: 10% 25% 0 25%;
        }
    

    .card-content {
        flex: 1 1 calc(33.333% - 20px);
        max-width: calc(33.333% - 20px);
        flex-direction: column;
        display: flex;
        border-radius: 20px;
        padding: 20px;
        color: var(--accent3-color);
        background: linear-gradient(to right, rgba(57, 215, 255, 0.15), rgb(0, 23, 32));
        border: solid 1px rgba(57, 215, 255, 0.4);
        margin-bottom: 40px;
        margin-top: 40px;
    }

    .text {
        text-align: center;
    }


    .card-grid h2 {
        text-align: center;
        width: 100%;
        margin: 15% 0 10% 0;
        font-size: 34px;
        font-weight: 900;
    }

    .card-grid p {
        width: 100%;
        margin: 0 0 8% 0;
        line-height: 25px;
        color: rgba(57, 215, 255, 1);
        font-size: 16px;
    }

    .line-container {
        text-align: center;
    }

    .line-container::before {
        content: "";
        display: inline-block;
        width: 50%; /* Adjust the width to make it shorter or longer */
        border-top: 1px solid rgba(57, 215, 255, 1); /* Adjust the thickness and color */
        margin: 0 0 0 0;
    }

    .card-grid h3 {
        width: 100%;
        margin: 10% 0 -10% 0;
        font-size: 20px;
    }


    .image img {
        position: relative;
        margin: 0;
        width: 100%;
        height: auto;
        border-radius: 20px;
        border: solid 1px rgba(57, 215, 255, 0.4);
        margin: 0;
        top: 60px;
        box-shadow: 0 20px 40px rgba(57, 215, 255, 0.2);
        transition: transform 0.3s ease-in-out; /* Smooth transition */
    }

    .image img:hover {
        box-shadow: 0 20px 40px rgba(57, 215, 255, 0.3);
        transform: scale(1.03); /* Zoom in effect */
    }


    .video {
        position: relative;
        padding-bottom: 66.67%; /* 3:2 aspect ratio */
        height: 0;
        overflow: hidden;
        max-width: 100%;
        border-radius: 20px;
        border: solid 1px rgba(57, 215, 255, 0.4);
        top: 60px;
        box-shadow: 0 20px 40px rgba(57, 215, 255, 0.2);
        transition: transform 0.3s ease-in-out; /* Smooth transition */
    }

    .video:hover {
        box-shadow: 0 20px 40px rgb(57, 215, 255, 0.3);
        transform: scale(1.03); /* Zoom in effect */
    }


    /* --------------- TIMELINE SECTION ----------------- */


    .timeline-container img {
        display: flex;
        width: 100%;
        margin: 0 0 0 0;
    }

    .timeline-grid {
        display: flex;
        width: 100%;
        height: auto;
        margin: -45% 0 25% 10%;
    }
    
    .tabs {
        width: 25%;
        background-color: rgb(57, 215, 255, 0);
        display: flex;
        flex-direction: column;
        padding: 10px;
        gap: 15px;
        margin: 0 0 0 10%;
    }
    
    .tab-btn {
        background-color: rgb(57, 215, 255, 0);
        border: 1px solid rgb(57, 215, 255, 0.2);
        padding: 20px;
        text-align: left;
        cursor: pointer;
        transition: background-color 0.3s;
        color: #00eeff;
        border-radius: 12px;
        font-size: 20px;
        border-left: 3px solid rgb(57, 215, 255, 1);
    }
    
    .tab-btn:hover {
        background-color: rgb(57, 215, 255, 0.2);
    }
    
    .tab-btn.active {
        background-color: rgb(57, 215, 255, 0.1);
    }
    
    .tab-content {
        flex: 1;
        padding: 80px;
        border-left: 1px solid rgb(57, 215, 255, 1);
        margin: 0 15% 0 5%;
        background-color: rgb(227, 161, 15, 0.05);
        border-radius: 8px;
    }
    
    .tab-pane {
        display: none;
        width: 100%;
        margin: 0 0 0 0;
    }
    
    .tab-pane.active {
        display: block;
    }


    


    /* ------- FOOTER -------- */

    footer {
        margin-top: 80px;
    }

}