:root {
	--primary-color: #00eeff;
  --secondary-color: #001720;
  --accent1-color: #e3a10f;
	--accent2-color: #144351;
	--accent3-color: #ffffff;
}

/*----------- BODY --------------*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
    font-family: "Montserrat", Arial, sans-serif;
    background-color: var(--secondary-color);
    overflow-x: hidden;
}

header, main {
    margin: auto;
}

/*----------- HEADER --------------*/

header {
    background-color: var(--secondary-color);
    display: grid;
    grid-gap: 1rem;
    padding: 0 25px 0 25px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 10px #050505;
    color: var(--secondary-color);
    position: fixed; /* Add this line */
    width: 100%; /* Ensure it covers the full width */
    top: 0; /* Fix it to the top of the page */
    left: 0; /* Fix it to the left of the page */
    z-index: 1000; /* Ensure it is above other elements */
}



.navigation {
    display: none;
}

/* Small view navigation and BUTTON hamburguer menu */

.image-logo {
    width: 80px;
    padding: 0;
    margin: 10px 0 0 0;
}


#menu {
	font-size: 2.5rem;
    font-family: "Montserrat";
    font-weight: 300;
	border: 0;
	background: none;
	color: white;
 	position: absolute;
    top: 1rem;
    right: 2rem;
    padding: 0;
}

#menu::before {
	content: "☰";
}

/* ▼ */

#menu.open::before {
	content: "☰";
    color: var(--accent1-color);
}

/* when the button is clicked - the open class is toggled (added/removed) */
.navigation.open {
	display: block;
}


nav {
    display: flex;
    flex-direction: column;
}

ul {
    list-style-type: none;
}

nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
}

.resume {
    position: relative;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: solid 1px var(--primary-color);
    border-radius: 8px;
    padding: 15px;
    font-weight: 600;
    font-size: 14px;
    margin: 0 0 10px 0;
}

.resume:hover {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    border: solid 1px var(--primary-color);
    font-weight: 600;
    box-shadow: 0 0 10px rgba(57, 215, 255, 0.4);
}


/*----------- MAIN --------------*/

main {
    width: 100%;
    color: var(--accent3-color);
}

/*----------- HERO SECTION --------------*/




.hero-image2 {
    display: none;
}

.hero-image1 {
    display: flex;
    width: 120%;
    margin: 90px 0 0 0;
    height: auto;
    -webkit-mask-image: linear-gradient(
        rgb(0, 23, 32, 0.8),
        rgb(0, 23, 32, 0.8) 80%,
        rgb(0, 23, 32, 0)
        );
    mask-image: linear-gradient(
        rgb(0, 23, 32, 0.8),
        rgb(0, 23, 32, 0.8) 80%,
        rgb(0, 23, 32, 0)
        );
}

.spaceman-hero {
    position: absolute;
    top: 80%;
    bottom: 0;
    left: 55%;
    width: 50%;
    height: auto;
    z-index: 1;
    animation: slideFade 1s ease-in-out 0.1s forwards, randomMove 6s ease-in-out 1.1s infinite; /* Added 'randomMove' animation */
    pointer-events: none;
    opacity: 0;
}

@keyframes slideFade {
    0% {
        opacity: 0.5;
        transform: translateY(20px); /* Starts 20px lower */
    }
    100% {
        opacity: 1;
        transform: translateY(0); /* Ends at the original position */
    }
}

@keyframes randomMove {
    0% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(-4px, 4px);
    }
    50% {
        transform: translate(4px, -4px);
    }
    75% {
        transform: translate(-4px, -4px);
    }
    100% {
        transform: translate(0, 0);
    }
}

.hero-container {
    position: relative;
    width: 100%;
    height: auto;
}

.hero-image1 {
    width: 100%;
    height: auto;
}

.hero-container .flexbox-content {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-60%, 30%);
    text-align: left;
    z-index: 2;
}

.hero-container h1 {
    color: var(--accent3-color);
    text-align: left;
    font-weight: 900;
    font-size: 3rem;
    width: 100%;
    padding: 10px;
    padding-right: 80px;
    animation: fade 1s ease-in 0.1s forwards;
    pointer-events: none;
    opacity: 0;
}



.hero-container p span {
    background: linear-gradient(to right, rgb(255, 245, 180), rgb(227, 161, 15));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 400;
    animation: fade 1s ease-in 0.1s forwards;
    pointer-events: none;
    opacity: 0;
}

@keyframes fade {
    0%{
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.hero-container p {
    color: var(--accent1-color);
    text-align: left;
    font-weight: 400;
    font-size: 1rem;
    width: 100%;
    margin: 0 0 40px 0;
    padding: 10px;
    padding-right: 100px;
    line-height: 20px;
}


/*-------- INTRO SECTION ----------*/



.scroller-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 40% 0 15% 0;
}

.scroller {
    display: block;
}

.scroller-inner {
    display: flex;
    flex-wrap: wrap;
    padding-block: .1rem;
    gap: 1rem;
}

.scroller[data-animated="true"] {
    overflow: hidden;
    -webkit-mask-image: linear-gradient(
        90deg, transparent, black 20%, black 80%, transparent
    );


    mask-image: linear-gradient(
        90deg, transparent, black 20%, black 80%, transparent
    );
}

.scroller[data-animated="true"] .scroller-inner {
    width: max-content;
    flex-wrap: nowrap;
    animation: scroll 40s linear infinite;
}


@keyframes scroll {
    to {
        transform: translate(calc(-50% - .5rem));
    }
}


.intro-container {
    display: grid;
    grid-template-columns: 100%;
    max-width: 100%;
    height: auto;
    background: linear-gradient(to right, rgba(57, 215, 255, 0.15), rgb(0, 23, 32));
    border: solid 1px rgb(227, 161, 15, 0.5);
    border-radius: 18px;
    padding: 25px 25px 25px 25px;
    margin: 0 5% 15% 5%;
}

.intro-container h2 {
    font-size: 34px;
    margin-bottom: -20px;
    font-weight: 900;
}

.intro-container .text {
    font-size: 14px;
    line-height: 25px;
    padding: 20px 0 25px 0;
    margin: 5% 0 5% 0;
}

.intro-container p {
    padding-top: 20px;
    text-align: left;
}

.button-1 {
    position: relative;
    width: 100%;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 8px;
    padding: 10px 30px 10px 30px;
    font-weight: 600;
    font-size: 14px;
    text-decoration: none;
}

.button-1:hover {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    border: solid 1px var(--primary-color);
    font-weight: 600;
    box-shadow: 0 0 10px rgba(57, 215, 255, 0.4);
    transform: translateY(-4px);
}


/*----------- CARDS SECTION --------------*/

.title span, form span {
    background: linear-gradient(to right, rgb(255, 245, 180), rgb(227, 161, 15));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.logo-3d {
    display: flex;
    width: 50%;
    height: auto;
    margin: -20% 0 0 60%;
    animation: slideFade 1s ease-in-out 0.1s forwards, randomMove-1 12s ease-in-out 1.1s infinite; /* Added 'randomMove' animation */
    pointer-events: none;
    opacity: 0;
}

@keyframes slideFade {
    0% {
        opacity: 0.5;
        transform: translateY(20px); /* Starts 20px lower */
    }
    100% {
        opacity: 1;
        transform: translateY(0); /* Ends at the original position */
    }
}

@keyframes randomMove-1 {
    0% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(-4px, 4px);
    }
    50% {
        transform: translate(0, -65px);
    }
    75% {
        transform: translate(-4px, 4px);
    }
    100% {
        transform: translate(0, 0);
    }
}



.card-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin: -15% 5% 15% 5%;
    gap: 20px;
}

.title {
    position: relative;
    color: var(--accent3-color);
    text-align: center;
    font-size: 44px;
    font-weight: 900;
    max-width: 100%;
    margin: 10% 15% 0 15%;
    }


.card-content {
    max-width: 100%;
    border-radius: 20px;
    padding: 20px;
    color: var(--accent3-color);
    background: linear-gradient(to right, rgba(57, 215, 255, 0.15), rgb(0, 23, 32));
    border: solid 1px rgba(57, 215, 255, 0.4);
    margin-top: 20px;
    position: relative;
}

.text {
    text-align: center;
    padding: 20px;
}


.card-grid h2 {
    text-align: center;
    width: 100%;
    margin: 5% 0 5% 0;
    font-size: 34px;
    font-weight: 900;
}

.card-grid p {
    width: 100%;
    margin: 0 0 5% 0;
    line-height: 25px;
    color: rgba(57, 215, 255, 1);
    font-size: 16px;
}

.line-container {
    text-align: center;
    margin: 0 0 20% 0;
}

.line-container::before {
    content: "";
    display: inline-block;
    width: 50%; /* Adjust the width to make it shorter or longer */
    border-top: 1px solid rgba(57, 215, 255, 1); /* Adjust the thickness and color */
    margin: 0 0 0 0;
}

.card-grid .button-1 {
    width: 100%;
    margin: 0 0 0 0;
    font-size: 14px;
}


.image img {
    position: relative;
    margin: 10% 0 0 0;
    width: 100%;
    height: auto;
    border-radius: 20px;
    border: solid 1px rgba(57, 215, 255, 0.4);
    box-shadow: 0 20px 40px rgba(57, 215, 255, 0.2);
    transition: transform 0.2s ease-in-out; /* Smooth transition */
}

.image img:hover {
    box-shadow: 0 20px 40px rgba(57, 215, 255, 0.3);
    transform: translateY(8px);
}


.video {
    position: relative;
    padding-bottom: 66.67%; /* 3:2 aspect ratio */
    height: 0;
    overflow: hidden;
    width: 100%;
    border-radius: 20px;
    border: solid 1px rgba(57, 215, 255, 0.4);
    margin: 20px 0 0 0;
    box-shadow: 0 20px 40px rgba(57, 215, 255, 0.2);
    transition: transform 0.2s ease-in-out; /* Smooth transition */
}

.video video {
    max-width: 100%;
    padding-right: 0;
    margin: -78px 0 0 0;
}

.video:hover {
    box-shadow: 0 20px 40px rgb(57, 215, 255, 0.3);
    transform: translateY(8px);
}


/*----------- TIMELINE EXPERIENCE SECTION --------------*/


.timeline-container .subtitle {
    text-align: center;
    padding-top: 15px;
    font-size: 20px;
    margin: 0 0 0 0;
}


.timeline-container img {
    display: flex;
    width: 130%;
    margin: 70% 0 0 -10%;
}

.timeline-grid {
    display: flex;
    width: 100%;
    height: auto;
    margin: -130% 0 25% 0;
}

.tabs {
    width: 30%;
    background-color: rgb(57, 215, 255, 0);
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 15px;
    margin: 0 0 0 0;
}

.tab-btn {
    background-color: rgb(57, 215, 255, 0);
    border: 1px solid rgb(57, 215, 255, 0.2);
    padding: 10px;
    text-align: left;
    cursor: pointer;
    transition: background-color 0.3s;
    color: #00eeff;
    border-radius: 12px;
    font-size: 14px;
}

.tab-btn:hover {
    background-color: rgb(57, 215, 255, 0.2);
}

.tab-btn.active {
    background-color: rgb(57, 215, 255, 0.1);
    border: 1px solid rgb(57, 215, 255, 1);
}

.tab-content {
    flex: 1;
    margin: 0 10px 0 0;
    padding: 20px;
    border-left: 1px solid rgb(57, 215, 255, 1);
    background-color: rgb(227, 161, 15, 0.05);
    border-radius: 0 25px 25px 0;
}

.tab-pane {
    display: none;
    width: 100%;
}

.tab-pane.active {
    display: block;
}

.tab-pane h2 {
    font-size: 24px;
    margin: 0 0 15% 0;
}

.tab-pane p {
    font-size: 14px;
    line-height: 25px;
}


/*----------- FORM STYLING --------------*/



.wf1 fieldset {
    background-color: var(--secondary-color);
    margin: 2rem 10px 40px 10px;
    border: 1px solid var(--primary-color);
    border-radius: 12px;
    padding: 2rem 5%;
}

form h2 {
    font-size: 44px;
    font-weight: 900;
    text-align: center;
    margin: 20px 0 0 0;
}


.wf1 label {
    display: block;
    padding-top: 1rem;
    color: var(--primary-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
}


.wf1 select
{
    background-color: #eee;
    display: block;
    border: solid 1px #999;
    border-radius: 6px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 200px;
    appearance: none;
    margin-top: 5px;
    margin-bottom: 10px;
    font-family: "Montserrat", sans-serif;
}


.wf1 input[type="text"],
.wf1 input[type="email"]
{
    background-color: #eee;
    display: block;
    border: solid 1px #999;
    border-radius: 6px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 300px;
    appearance: none;
    margin-top: 5px;
    margin-bottom: 10px;
    font-family: "Montserrat", sans-serif;
}


.wf1 textarea
{
    background-color: #eee;
    display: block;
    border: solid 1px #999;
    border-radius: 6px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 300px;
    appearance: none;
    margin-top: 5px;
    margin-bottom: 10px;
    font-family: "Montserrat", sans-serif;
}

.wf1 input[type="radio"],
.wf1 input[type="checkbox"]{
    margin-right: 6px;
}

.wf1 input[type="submit"]{
    position: relative;
    border: none;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    box-shadow: 0 0 10px rgba(57, 215, 255, 0.4);
    border-radius: 12px;
    padding: 15px;
    font-weight: 600;
    font-size: 16px;
    margin: 10px 0 0 0;
    transition: transform 0.3s ease-in-out; /* Smooth transition */
}

.wf1 input[type="submit"]:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    box-shadow: 0 0 20px rgba(57, 215, 255, 0.4);
    transform: translateX(4px);
    
}

.wf1 label input:required {
    border-left: solid 6px #e3a10f;
}

.wf1 label input:required:valid {
    border-left: solid 6px #00eeff;
}

.wf1 select:required {
    border-left: solid 6px #e3a10f;
}

.wf1 select:required:valid {
    border-left: solid 6px #00eeff;
}




/*----------- FOOTER --------------*/

footer {
    background-color: var(--secondary-color);
    color: var(--accent3-color);
    text-align: center;
    padding: 20px;
}

footer p {
    margin: 0;
    font-size: 14px;
    line-height: 20px;
}

.highlight {
    font-weight: 600;
}

