:root {
	--primary-color: #00eeff;
  --secondary-color: #001720;
  --accent1-color: #e3a10f;
	--accent2-color: #144351;
	--accent3-color: #ffffff;
}

/*----------- BODY --------------*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
    font-family: "Montserrat", Arial, sans-serif;
    background-color: var(--secondary-color);
}

header, main {
    margin: auto;
}

/*----------- HEADER --------------*/

header {
    background-color: var(--secondary-color);
    display: grid;
    grid-gap: 1rem;
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 10px #050505;
    color: var(--secondary-color);
}



.navigation {
    display: none;
}

/* Small view navigation and BUTTON hamburguer menu */

.image-logo {
    margin-top: 10px;
    width: 80px;
}


#menu {
	font-size: 1.5rem;
    font-family: "Montserrat";
    font-weight: 300;
	border: 0;
	background: none;
	color: white;
 	position: absolute;
    top: 2.8rem;
    right: 1rem;
}

#menu::before {
	content: "☰";
}

/* ▼ */

#menu.open::before {
	content: "☰";
    color: var(--accent1-color);
}

/* when the button is clicked - the open class is toggled (added/removed) */
.navigation.open {
	display: block;
}


nav {
    display: flex;
    flex-direction: column;
}

ul {
    list-style-type: none;
}

nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
}

.resume {
    position: relative;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 8px;
    padding: 10px;
    font-weight: 600;
    font-size: 12px;
}

.resume:hover {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    border: solid 1px var(--primary-color);
    font-weight: 600;
    box-shadow: 0 0 10px rgba(57, 215, 255, 0.4);
    transform: translateY(-4px);
}


/*----------- MAIN --------------*/

main {
    width: 100%;
    color: var(--accent3-color);
}

/*----------- HERO SECTION --------------*/


.hero-image1, .hero-image2 {
    width: 100%;
    height: auto;
}

.hero-image2 {
    display: none;
}

.hero-containter .hero-image1 {
    max-width: 100%;
}

.hero-container h2 {
    color: var(--accent3-color);
    text-align: left;
    font-weight: 900;
    font-size: 44px;
    width: 100%;
    margin: -220px 10% 0 5%;
    padding: 10px;
    padding-right: 80px;
}

.hero-container p {
    color: var(--accent1-color);
    text-align: left;
    font-weight: 400;
    font-size: 14px;
    width: 100%;
    margin: -10px 0 40px 5%;
    padding: 10px;
    padding-right: 200px;
    line-height: 20px;
}


/*-------- INTRO SECTION ----------*/

.scroller {
    display: none;
}


/*----------- CARDS SECTION --------------*/



/*----------- FOOTER --------------*/


